<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="author" content="jacob">
    <title>index</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
</head>
<body>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">获取ECS日志</h3>
    </div>
    <div class="panel-body">


        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">请指定服务器的ip</label>
                <div class="col-sm-5">
                    <input type="text" name="ip_address" class="form-control"
                           placeholder="192.168.1.1">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">请指定日志的路径</label>
                <div class="col-sm-5">
                    <input type="text" name="log_path" class="form-control"
                           placeholder="/root/copy_jdk_shell/copy_initial_shell.log或者/root/initial.log">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">要打印日志的行数</label>
                <div class="col-sm-5">
                    <input type="text" name="lines" class="form-control"
                           placeholder="100">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-5">
                    <input type="text" name="name" class="form-control"
                           placeholder="默认root">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-5">
                    <input type="text" name="pass" class="form-control"
                           placeholder="默认微博分期root密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="submit" class="btn btn-default">开始获取日志</button>
                </div>
            </div>

            <label class="col-sm-pull-2 control-label">服务器日志</label>
            <div class="form-group">
                   <textarea class="form-control" rows="10">请停在页面等待日志生成
                       {{ output }}
                       {% for message in get_flashed_messages() %}
                            {{ message }}
                       {% endfor %}
                   </textarea>
            </div>
        </form>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>